@{
    ViewData["Title"] = "Add Project";
}
@model ProjectTimeLogger.Models.ProjectIndexViewModel

<h2>Add Project</h2>
<partial name="_Message" />
<form asp-action="Add">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AddProject.Name"></label>
                <input asp-for="AddProject.Name" class="form-control" />
                <span asp-validation-for="AddProject.Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>


<h2>Projects</h2>
@foreach (var project in Model.ShowProjects)
{
    <div class="row">
        <div class="col">
            @project.Name
        </div>
    </div>

    <span></span>
}



